<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News Article</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="../../public%20/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../../public%20/css/icomoon.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="../../public%20/css/magnific-popup.css">
    <!-- Salvattore -->
    <link rel="stylesheet" href="../../public%20/css/salvattore.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="../../public%20/css/style.css">
    <!-- Modernizr JS -->
    <script src="../../public%20/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="../../public%20/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="fh5co-offcanvass">
    <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
    <h1 class="fh5co-logo"><a class="navbar-brand" href="/">Menu</a></h1>
    <ul>
        <form class="center" action="/login">
            <button type="submit">Log in</button>
        </form>

    </ul>
</div>
<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
                <a class="navbar-brand">Log In</a>
            </div>
        </div>
    </div>
</header>
<!-- END .header -->

<div id="fh5co-main">
    <div class="container">

        <div class="row">

            <div id="fh5co-board" data-columns>
                <div class="item">
                    <div class="animate-box">
                        <form action="/login" method="post">
                        <hr>
                            <br><label for="email"><b>Email</b></label>
                            <br><input type="text" placeholder="Enter Email" name="email" id="email" required>

                            <br><label for="password"><b>Password</b></label>
                            <br><input type="password" placeholder="Enter Password" name="password" id="password" required>

                            <br>
                            <br>
                            <button type="submit" class="loginbtn">Log in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../../public%20/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../../public%20/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../../public%20/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../../public%20/js/jquery.waypoints.min.js"></script>
<!-- Magnific Popup -->
<script src="../../public%20/js/jquery.magnific-popup.min.js"></script>
<!-- Salvattore -->
<script src="../../public%20/js/salvattore.min.js"></script>
<!-- Main JS -->
<script src="../../public%20/js/main.js"></script>

</body>
</html>
